@font-face {
  font-family: 'Anderson Grotesk';
  src: local('Anderson Grotesk UltraBold'),
    url(fonts/AndersonGrotesk-Ultrabold.otf) format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Anderson Grotesk';
  src: local('Anderson Grotesk Bold'),
    url(fonts/AndersonGrotesk-Bold.otf) format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Anderson Grotesk';
  src: local('Anderson Grotesk'),
    url(fonts/AndersonGrotesk.otf) format('opentype');
  font-weight: 400;
}

html {
  /* Load system fonts */
  font-family: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Roboto,
    Segoe UI, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #31393c;
  background: #f4f5f7;
  scroll-behavior: smooth;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;

  box-sizing: border-box;
}

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: #006ed8;
}

/* React Modal */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal {
  margin: auto;
  width: max-content;
  height: max-content;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  overflow: auto;
  display: inline-flex;
  align-items: center;
}

.ReactModal__Html--open {
  overflow: hidden; /* prevents background page from scrolling when the modal is open */
}

.ReactModal__Body--open {
  overflow: hidden; /* prevents background page from scrolling when the modal is open */
}
