.rbc-timeslot-group {
    min-height: 36px;
}

.rbc-allday-cell {
    display: none;
}

.rbc-time-content {
    max-height: 520px;
}

.rbc-event {
    border: none;
    border-radius: 4px;
}

.rbc-toolbar {
    flex-wrap: nowrap;
    position: sticky;
    left: 0;
}

.rbc-time-view {
    width: 1200px;
}

.rbc-calendar {
    overflow: auto;
}